{% extends "base.html" %}
{% block main %}
<main>
    <section class="banner-area">
        <form action="/profile" method="post">
            
            <fieldset style="">
                <legend style="padding: 1em; text-transform: uppercase; font-weight: 600;">
                    Edit Your Personal Information
                </legend>
                
                <label for="username">Username: </label>
                <input type="text" name="username" value="{{ user_info['username'] }}" style="margin-left: 1em;" readonly size="50"><br>
                
                <label for="name">Name:   </label>
                <input type="text" name="name" placeholder="Enter full name" value="{{ user_info['name'] }}" required style="margin-left: 1em;" size="50"><br>
                
                <label for="bio" style="vertical-align: top; margin-top: 0.5em;">Bio: </label>
                <textarea name="bio" id="bio" cols="40" rows="10" placeholder="max 280 characters..." maxlength="280"width: 300px;>{{ user_info['bio'] }}</textarea><br>

                <input type="submit" name="submit" value="Update Profile" class="formbutton" style="margin-right: 1em; margin-bottom: 1em">
            </fieldset>
        </form>

        <div style="margin-top: 3em;">
            <h3>Feed</h3>
            <hr>
            {% for tweet in tweets %}
            <div style="margin: 1em 25%; width: 764px; border-style: solid; border-color: grey;  border-radius: 10px;     box-shadow: 0 0 10px #666;align-self: center;">
                <img src="{{ tweet['media'] }}" alt="" 
                style="display: inline-block; max-width: 764px; max-height: 400px; margin: 1em; padding: 1em;">
                <p style="text-align: left; padding: 1em;">{{ tweet['username'] }}:</p>
                <p style="text-align: left; padding: 1em;">" {{ tweet['tweet'] }} "</p>
                <p style="text-align: right; font-size: small; padding: 1em;">{{ tweet['time'] }}</p>
                {% if tweet['username'] == user_info['username'] %}
                <div style="display: flex; justify-content: right;">
                    <form action="/edit/{{ tweet['id'] }}" method="get">
                        <input type="submit" name="submit" value="Edit" class="formbutton">
                    </form>
                    <form action="/delete/{{ tweet['id'] }}" method="post">
                        <input type="submit" name="submit" value="Delete" class="formbutton">
                    </form>
                </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </section>
</main>
{% endblock %}