{% extends "base.html" %}
{% block main %}
<main>
    <section class="banner-area">
        <form action="/username" method="post">
            <fieldset style="">
                <legend style="padding: 1em; text-transform: uppercase; font-weight: 600;">
                    Enter a username
                </legend>
                <label for="username">Username</label>
                <input type="text" name="username" placeholder="Enter a username" required style="margin-left: 1em; "size="40">
                <input type="submit" name="submit" value="SignUp" class="formbutton" style="margin-right: 1em; margin-bottom: 1em">
            </fieldset>
        </form>


    </section>
</main>
{% endblock %}